/build/
/dist/
/__pycache__/
/generateapp/__pycache__/
/survivalmodel/__pycache__/
/generateapp/generate/__pycache__/
/generateapp/migrations/__pycache__/
/static/static_root/static_root/
/tfdeepsurv/__pycache__/
*.zip